@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--poppins), sans-serif;

  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



@layer base {
  h1 {
    font-size: 3rem;
    @apply font-bold tracking-wide;
  }

  h2 {
    font-size: 2rem;
    @apply font-bold;
  }

  h3 {
    font-size: 1.75rem;
    @apply font-bold;
  }

  h4 {
    font-size: 1.5rem;
    @apply font-bold;
  }

  h5 {
    font-size: 1.25rem;
    @apply font-bold;
  }

  h6 {
    font-size: 1rem;
    @apply font-bold;
  }

  p {
    @apply lg:text-[24px] sm:text-[20px] text-[16px] px-2 overflow-clip;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}